body {
  background: lightgrey no-repeat fixed center;
}

.username-label {
  color: red;
}

.username-label:hover {
  color: blue;
}

.container-custom {
  background-color: rgba(27, 27, 50, 0.8);
}
